{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "requirePragma": false,
  "rangeStart": 0,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": [
        "*.json"
      ],
      "options": {
        "parser": "json",
        "tabWidth": 4
      }
    },
    {
      "files": [
        "*.css",
        "*.scss",
        "*.sass",
        "*.less"
      ],
      "options": {
        "parser": "css",
        "tabWidth": 4
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
