.app-header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px !important;
  font-size: 18px;
  background: #fff !important;

  :global {
    .logo {
      display: flex;
      align-items: center;
      width: calc(100% - 32px);
      height: 32px;
      padding-left: 44px;
      margin: 16px;
      font-size: 24px;
      color: #fff;
      background: url("../images/logo.png") 0 0 no-repeat;
      background-size: auto 100%;
    }

    .slider-collapse-btn {
      .anticon {
        cursor: pointer;
      }
    }

    .header-menu-wrapper {
      flex: 1;
      margin: 0 16px;
    }

    .header-action-wrapper {
      display: flex;
      align-items: center;
      justify-content: right;
    }
  }
}
