.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 44px;
    max-height: 44px;
    padding: 0 1.5rem;
    background: #ffffff;
    box-shadow: 0 0 20px 0 #dde1ee;
}
