.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .spinner {
        width: 40px;
        height: 40px;
        margin: 100px auto;
        background-color: #333333;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
    }

    @keyframes sk-rotateplane {
        0% {
            transform: perspective(120px);
        }

        50% {
            transform: perspective(120px) rotateY(180deg);
        }

        100% {
            transform: perspective(120px) rotateY(180deg) rotateX(180deg);
        }
    }

    @keyframes sk-rotateplane {
        0% {
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        }

        50% {
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        }

        100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
}
